<p id="notice"><%= notice %></p>

<p>
  <b>Deviceid:</b>
  <%= @user_datum.deviceid %>
</p>

<p>
  <b>Time:</b>
  <%= @user_datum.time %>
</p>

<p>
  <b>Location:</b>
  <%= @user_datum.location %>
</p>


<%= link_to 'Edit', edit_user_datum_path(@user_datum) %> |
<%= link_to 'Back', user_data_path %>
